.ValidationComponent {
    background-color: #ffd389;
    width: 40%;
    margin: 16px auto;
    border: 4px solid #eeeeee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
}

.CharComponent {
    display: inline-block;
    background-color: #ddd;
    margin: 3px;
    padding: 6px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 4px 6px #ffab00;
    cursor: pointer;
}
