.App {
  text-align: center;
}

.App-header {
  background-color: #ca5600;
  height: 80px;
  padding: 30px;
  color: white;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #aaaaaa;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #2E67D8;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #2E67D8;
}